.container-fluid {
    background-color: gainsboro;
    height: 1070px;
}
.container {
    width: 100%;
    height: 1040px;
}
.header {
    width: 100%;
    height: 430px;
    margin-left: 0;
    margin-right: 0;
}
.logo {
    width: 100%;
    height: 100px;
    background-color: rgb(168, 160, 160);
}
.navi {
    width: 100%;
    height: 70px;
    background-color: rgb(168, 160, 160);
}
.banner {
    width: 100%;
    height: 250px;
    background-color: rgb(168, 160, 160);
}
.content {
    width: 100%;
    height: 500px;
}
.sidebar {
    width: 33%;
    height: 100%;
    background-color: rgb(168, 160, 160);
}
.bodyarea {
    width: 65%;
    height: 100%;
    background-color: rgb(168, 160, 160);
}
.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(168, 160, 160);
}
span {
    color: rgba(56, 53, 53, 0.795);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}